@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  font-family: "Poppins";
}

.font-poppins {
  font-family: "Poppins";
}

.font-inter {
  font-family: "Inter";
}
